.footer {
    width: 100%;
    padding: 15px 50px;
    background: linear-gradient(90deg, #2e2aff, #8a2be2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: auto;
}

.footer-content p {
    margin: 5px 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.footer-link:hover {
    color: #ffccff;
}
